.shipping-label {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.shipping-label .from {
  font-size: 1rem;
}

.shipping-label .to {
  text-align: center;
  padding-top: 4rem;
}

.shipping-label .to .inner {
  max-width: 62%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.25rem;
}

